# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.dylib

# Virtual Environment
venv/
ENV/
.env
.venv
env/
**/venv/
virtualenv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
*.mp4
*.avi
*.weights
temp/
logs/
